@import url('https://fonts.googleapis.com/css?family=Corben:700');
/*font-family: 'Dancing Script', cursive;
font-family: 'Libre Baskerville', serif;*/
body{
	box-sizing: border-box;
}
h1 {
	
	font-size: 1rem;
	color:#ffc107;
	letter-spacing: 0.1rem;
	text-shadow: 0px 1px 1px gray;
	font-family: 'Dancing Script', cursive;
}
.color{
	color:#ffc107; 
	font-family: 'Dancing Script', cursive;
	font-size:xx-large ;
}
.color:hover{
	color:lightcyan;
}

	.nav-link{
		color:rgb(247, 220, 111);
		font-family: 'Dancing Script', cursive;
		font-size: x-large;
	}
	.nav-item{
		color:rgb(247, 220, 111);
		font-family: 'Dancing Script', cursive;
		font-size: x-large;
			}	
	h4{
		color:rgb(247, 220, 111);
		font-family: 'Dancing Script', cursive;
		font-size: x-large;
	}
	.fuentemenu{
		color:rgb(247, 220, 111);
		font-family: 'Dancing Script', cursive;
		font-size: 1rem;	
	}
	p{
		font-family: 'Libre Baskerville', serif;
		color:lightcyan;
		font-size:x-small;
	}
    .fuente{
		font-family: 'Libre Baskerville', serif;
		color:lightcyan;
	}
  
/*burbujas*/
.hero {

	min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
	
	
}
.frente{
	position: relative;
}
/*fondo*/
.fondo{
  background: transparent;
  }
 .fondo-suave {
	background: transparent;
 }

.fondo-img1{
  background: url("fondoindexxl.jpg") center center no-repeat;
  min-height: 800px;
  background-size: cover;
}

 @media (max-width: 768px) {
.fondo-img1{
background: url("fondoindexxs.jpg") fixed center center no-repeat;
background-size: cover;
min-height: 500px;
}
.margen{
	margin-top: 200px;
}
}
.fondovirgen{
	
	background: url("fondovirgen.jpg") center center no-repeat;
    background-size:cover;
	max-height: 100%;
	}
	@media (max-width: 768px) {
		.fondovirgen{
		background: url("fondovirgenxs1.jpg")fixed center center no-repeat;
		background-size: cover;
		min-height: 300px;
		}
		
		}

.t{
  margin-top: 150px;

}

.boton{
  background-color: darkmagenta ;
  opacity: 60%;
  color: azure;
  
}

.punto {
width: 10px;
height: 10px;
background-color: turquoise ;
  opacity: 30%;
  color: azure;
transition: width 2s;
}

.punto:hover {
width: 300px;
height:300px;
}
body{
    margin-top:20px;
    color: #bcd0f7;
}
/*.navbar{
	position:fixed;
	z-index:1000;
	top:0;
	
}*/
.drop-item{
	border:0mm;
	border-style: none;
    background: transparent;
	color:lightcyan;
	border-color: transparent;
    text-decoration: none;
}

.drop-item:active{
	border-style: none;
	border: 0mm;
	background: transparent;
	color:lightcyan;
	border-color: transparent;
	}
	.drop-item:hover{
		border-style: none;
		border: 0mm;
		background: transparent;
		color:lightcyan;
		border-color: transparent;
		}
	

